@*<div id="sitebar">*@
<div class="widget follow-us">
    <h1 class="section-title title">Follow Us</h1>
    <ul class="list-inline social-icons">
        <li><a href="https://www.facebook.com/Du-h%E1%BB%8Dc-qu%E1%BB%91c-t%E1%BA%BF-395892424248864/"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
    </ul>
</div><!--/#widget-->

<div class="widget">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src =
                'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0&appId=164733137209638&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="fb-page" data-href="https://www.facebook.com/Du-h&#x1ecd;c-qu&#x1ed1;c-t&#x1ebf;-395892424248864/" data-tabs="timeline" style="width: 100%" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Du-h&#x1ecd;c-qu&#x1ed1;c-t&#x1ecf;-3958924248864/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Du-h&#x1ecd;c-qu&#x1ed1;c-t&#x1ecf;-3958924248864/">Du học quốc tế</a></blockquote></div>
</div><!--/#widget-->

<div class="widget">
    <h1 class="section-title title">Tư Vấn Du Học, Lao Động</h1>
    <ul class="post-list">
        <li>
            <h2>Thông tin cá nhân</h2>
            <div class="form-group">
                <lable class="control-label">Họ tên</lable>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <lable class="control-label">Email</lable>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <lable class="control-label">Số điện thoại</lable>
                <input class="form-control" />
            </div>
            <h2>Kế hoạch du học</h2>
            <div class="form-group">
                <lable class="control-label">Quốc gia</lable>
                <select class="form-control">
                    <option Selected value="Du học Nhật">Du học Nhật</option>
                    <option value="Du học Hàn">Du học Hàn</option>
                    <option value="Du học Đài">Du học Đài</option>
                    <option value="Du học Mỹ">Du học Mỹ</option>
                    <option value="Du học Canada">Du học Canada</option>
                    <option value="Du học Úc">Du học Úc</option>
                    <option value="Du học Đức">Du học Đức</option>
                    <option value="Du học Anh">Du học Anh</option>
                    <option value="Quốc gia khác">Quốc gia khác</option>
                </select>
            </div>
            <div class="form-group">
                <lable class="control-label">Thành phố</lable>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <lable class="control-label">Cấp học</lable>
                <select class="form-control">
                    <option value="Sau đại học">Sau đại học</option>
                    <option value="Đại học">Đại học</option>
                    <option value="Cao đẳng">Cao đẳng</option>
                    <option value="Trung học">Trung học</option>
                    <option value="Khác">Khác</option>
                </select>
            </div>
            <div class="form-group">
                <lable class="control-label">Ngành học</lable>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <lable class="control-label">Thời gian dự kiếm du học</lable>
                <input class="form-control" type="date" />
            </div>
            <div class="form-group">
                <lable class="control-label">Câu hỏi của bạn</lable>
                <textarea class="form-control"></textarea>
            </div>
            <div class="form-group text-center">
                <input class="btn btn-success" value="Đăng kí tư vấn" />
            </div>
        </li>
    </ul>
</div>
<!--/#widget-->

<div class="widget weather-widget">
    <div id="weather1"></div>
    <div id="weather2"></div>
    <div id="weather3"></div>
    <div id="weather4"></div>
</div><!--/#widget-->
@*</div>*@