<nav id="stacked-menu" class="stacked-menu">
    <ul class="menu">
        <li class="menu-item has-child">
            <a href="#" class="menu-link">
                <span class="menu-icon fa fa-address-card"></span>
                <span class="menu-text">Support</span>
                <span class="badge badge-success">20+</span>
            </a>
            <!-- child menu -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="/support/index" class="menu-link">Danh sách hỗ trợ</a>
                </li>
                <li class="menu-item">
                    <a href="/suport/new" class="menu-link">Yêu cầu mới</a>
                </li>
                <li class="menu-item">
                    <a href="/support/nothandling" class="menu-link">Yêu cầu chưa xử lý</a>
                </li>
                <li class="menu-item">
                    <a href="/support/handling" class="menu-link">Yêu cầu đã xử lý</a>
                </li>
                <li class="menu-item">
                    <a href="/support/deleted" class="menu-link">Yêu cầu đã xóa</a>
                </li>
            </ul>
            <!-- /child menu -->
        </li>
        <!-- /.menu-item -->
        <!-- .menu-header -->
        <li class="menu-header">Interfaces </li>
        <!-- /.menu-header -->
        <!-- .menu-item -->
        <li class="menu-item has-child">
            <a href="#" class="menu-link">
                <span class="menu-icon fa fa-puzzle-piece"></span>
                <span class="menu-text">Tin tức</span>
                <span class="badge badge-warning">New</span>
            </a>
            <!-- child menu -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="component-general.html" class="menu-link">Tìm kiếm</a>
                </li>
                <li class="menu-item">
                    <a href="/news/create" class="menu-link">Thêm tin mới</a>
                </li>
                <li class="menu-item">
                    <a href="/news/index" class="menu-link">Danh sách tin tức</a>
                </li>
                <li class="menu-item">
                    <a href="/news/new" class="menu-link">Tin mới đăng</a>
                </li>
                <li class="menu-item">
                    <a href="/news/nothandling" class="menu-link">Tin chưa được duyệt</a>
                </li>
                <li class="menu-item">
                    <a href="/news/handling" class="menu-link">Tin đã được duyệt</a>
                </li>
                <li class="menu-item">
                    <a href="/news/deleted" class="menu-link">Tin đã xóa</a>
                </li>
            </ul>
            <!-- /child menu -->
        </li>
        <!-- /.menu-item -->
        <!-- .menu-item -->
        <li class="menu-item has-child">
            <a href="#" class="menu-link">
                <span class="menu-icon fa fa-pencil"></span>
                <span class="menu-text">Comment</span>
            </a>
            <!-- child menu -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="/comment/create" class="menu-link">Comment mới đăng</a>
                </li>
                <li class="menu-item">
                    <a href="/comment/index" class="menu-link">Danh sách tin tức</a>
                </li>
                <li class="menu-item">
                    <a href="/comment/nothandling" class="menu-link">Comment chưa trả lời</a>
                </li>
                <li class="menu-item">
                    <a href="/comment/handling" class="menu-link">Comment đã trả lời</a>
                </li>
                <li class="menu-item">
                    <a href="/comment/deleted" class="menu-link">Comment đã xóa</a>
                </li>
            </ul>
            <!-- /child menu -->
        </li>
        <!-- /.menu-item -->
        <!-- .menu-item -->
        <li class="menu-item has-child">
            <a href="#" class="menu-link">
                <span class="menu-icon fa fa-th-large"></span>
                <span class="menu-text">User</span>
            </a>
            <!-- child menu -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="/user/create" class="menu-link">Tìn kiếm</a>
                </li>
                <li class="menu-item">
                    <a href="/user/create" class="menu-link">Nhân viên đăng</a>
                </li>
                <li class="menu-item">
                    <a href="/user/index" class="menu-link">Danh sách nhân viên</a>
                </li>
                <li class="menu-item">
                    <a href="/user/inactive" class="menu-link">Nhân viên chưa kích hoạt</a>
                </li>
                <li class="menu-item">
                    <a href="/user/actives" class="menu-link">Nhân viên đã kích hoạt</a>
                </li>
                <li class="menu-item">
                    <a href="/user/deleted" class="menu-link">Nhân viên đã xóa</a>
                </li>
            </ul>
            <!-- /child menu -->
        </li>
        <!-- /.menu-item -->
        <!-- .menu-item -->
        <li class="menu-item has-child">
            <a href="#" class="menu-link">
                <span class="menu-icon fa fa-bar-chart"></span>
                <span class="menu-text">Collections</span>
            </a>
            <!-- child menu -->
            <ul class="menu">
                <li class="menu-item has-child">
                    <a href="#" class="menu-link">Chart.js</a>
                    <!-- grand child menu -->
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="collection-chartjs-line.html" class="menu-link">Line</a>
                        </li>
                        <li class="menu-item">
                            <a href="collection-chartjs-bar.html" class="menu-link">Bar</a>
                        </li>
                        <li class="menu-item">
                            <a href="collection-chartjs-radar-scatter.html" class="menu-link">Radar & Scatter</a>
                        </li>
                        <li class="menu-item">
                            <a href="collection-chartjs-others.html" class="menu-link">Others</a>
                        </li>
                    </ul>
                    <!-- /grand child menu -->
                </li>
                <li class="menu-item">
                    <a href="collection-flot-charts.html" class="menu-link">Flot</a>
                </li>
                <li class="menu-item">
                    <a href="collection-inline-charts.html" class="menu-link">Inline charts</a>
                </li>
                <li class="menu-item">
                    <a href="collection-jqvmap.html" class="menu-link">Vector Map</a>
                </li>
            </ul>
            <!-- /child menu -->
        </li>
        <!-- /.menu-item -->
        <!-- .menu-item -->
        <li class="menu-item has-child">
            <a href="#" class="menu-link">
                <span class="menu-icon fa fa-list-rich"></span>
                <span class="menu-text">Level Menu</span>
            </a>
            <!-- child menu -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="#" class="menu-link">Menu item</a>
                </li>
                <li class="menu-item has-child">
                    <a href="#" class="menu-link">Menu item</a>
                    <!-- grand child menu -->
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="#" class="menu-link">Child item</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-link">Child item</a>
                        </li>
                        <li class="menu-item has-child">
                            <a href="#" class="menu-link">Child item</a>
                            <!-- grand child menu -->
                            <ul class="menu">
                                <li class="menu-item">
                                    <a href="#" class="menu-link">Grand Child item</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="menu-link">Grand Child item</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="menu-link">Grand Child item</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="menu-link">Grand Child item</a>
                                </li>
                            </ul>
                            <!-- /grand child menu -->
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-link">Child item</a>
                        </li>
                    </ul>
                    <!-- /grand child menu -->
                </li>
                <li class="menu-item">
                    <a href="#" class="menu-link">Menu item</a>
                </li>
            </ul>
            <!-- /child menu -->
        </li>
        <!-- /.menu-item -->
        <!-- .menu-header -->
        <li class="menu-header">Pages </li>
        <!-- /.menu-header -->
        <!-- .menu-item -->
        <li class="menu-item has-child">
            <a href="#" class="menu-link">
                <span class="menu-icon fa fa-wrench"></span>
                <span class="menu-text">Auth</span>
            </a>
            <!-- child menu -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="auth-comingsoon-v1.html" class="menu-link">Coming Soon v1</a>
                </li>
                <li class="menu-item">
                    <a href="auth-comingsoon-v2.html" class="menu-link">Coming Soon v2</a>
                </li>
                <li class="menu-item">
                    <a href="auth-cookie-consent.html" class="menu-link">Cookie Consent</a>
                </li>
                <li class="menu-item">
                    <a href="auth-empty-state.html" class="menu-link">Empty State</a>
                </li>
                <li class="menu-item">
                    <a href="auth-error-v1.html" class="menu-link">Error Page v1</a>
                </li>
                <li class="menu-item">
                    <a href="auth-error-v2.html" class="menu-link">Error Page v2</a>
                </li>
                <li class="menu-item">
                    <a href="auth-error-v3.html" class="menu-link">Error Page v3</a>
                </li>
                <li class="menu-item">
                    <a href="auth-maintenance.html" class="menu-link">Maintenance</a>
                </li>
                <li class="menu-item">
                    <a href="auth-page-message.html" class="menu-link">Page Message</a>
                </li>
                <li class="menu-item">
                    <a href="auth-session-timeout.html" class="menu-link">Session Timeout</a>
                </li>
                <li class="menu-item">
                    <a href="auth-signin-v1.html" class="menu-link">Sign In v1</a>
                </li>
                <li class="menu-item">
                    <a href="auth-signin-v2.html" class="menu-link">Sign In v2</a>
                </li>
                <li class="menu-item">
                    <a href="auth-signup.html" class="menu-link">Sign Up</a>
                </li>
                <li class="menu-item">
                    <a href="auth-recovery-username.html" class="menu-link">Recovery Username</a>
                </li>
                <li class="menu-item">
                    <a href="auth-recovery-password.html" class="menu-link">Recovery Password</a>
                </li>
                <li class="menu-item">
                    <a href="auth-lockscreen.html" class="menu-link">Screen Locked</a>
                </li>
            </ul>
            <!-- /child menu -->
        </li>
        <!-- /.menu-item -->
        <!-- .menu-item -->
        <li class="menu-item has-child">
            <a href="#" class="menu-link">
                <span class="menu-icon fa fa-users"></span>
                <span class="menu-text">User</span>
            </a>
            <!-- child menu -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="user-profile.html" class="menu-link">Profile</a>
                </li>
                <li class="menu-item">
                    <a href="user-activities.html" class="menu-link">Activities</a>
                </li>
                <li class="menu-item">
                    <a href="user-teams.html" class="menu-link">Teams</a>
                </li>
                <li class="menu-item">
                    <a href="user-projects.html" class="menu-link">Projects</a>
                </li>
                <li class="menu-item">
                    <a href="user-tasks.html" class="menu-link">Tasks</a>
                </li>
                <li class="menu-item">
                    <a href="user-profile-settings.html" class="menu-link">Profile Settings</a>
                </li>
                <li class="menu-item">
                    <a href="user-account-settings.html" class="menu-link">Account Settings</a>
                </li>
                <li class="menu-item">
                    <a href="user-billing-settings.html" class="menu-link">Billing Settings</a>
                </li>
                <li class="menu-item">
                    <a href="user-notification-settings.html" class="menu-link">Notification Settings</a>
                </li>
            </ul>
            <!-- /child menu -->
        </li>
        <!-- /.menu-item -->
        <!-- .menu-item -->
        <li class="menu-item has-child">
            <a href="#" class="menu-link">
                <span class="menu-icon fa fa-infinity"></span>
                <span class="menu-text">Apps</span>
            </a>
            <!-- child menu -->
            <ul class="menu">
                <li class="menu-item">
                    <a href="app-messages.html" class="menu-link">Messages</a>
                </li>
                <li class="menu-item">
                    <a href="app-conversations.html" class="menu-link">Conversations</a>
                </li>
                <li class="menu-item">
                    <a href="app-tasks.html" class="menu-link">Tasks</a>
                </li>
                <li class="menu-item">
                    <a href="app-feeds.html" class="menu-link">Feeds</a>
                </li>
            </ul>
            <!-- /child menu -->
        </li>
        <!-- /.menu-item -->
    </ul>
    <!-- /.menu -->
</nav>