@*<div class="footer-widget">*@
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h1 class="section-title title">About Us</h1>
                    <p>Chuyên tư vấn, cung cấp các dịch vụ du học, suất khẩu lao động và tư vấn Visa. Hỗ trợ và giải đáp các thắc mắc về du học nước ngoài, xin visa quốc tế hay suất khẩu lao động.</p>
                    <address>
                        <p>Address : Doãn Kế Thiện</p>
                        <p>Call : +1234-222-3333</p>
                        <p>Email: <a href="#">info@newspress.com</a></p>
                    </address>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget">
                    <h1 class="section-title title">Flickr Gallery</h1>
                    <ul>
                        <li><a href="/Uploads/_thumbs/Images/HinhAnh/Canada/canada (10).jpg" class="image-link flickr"><img class="img-responsive" src="/Uploads/_thumbs/Images/HinhAnh/Canada/canada (10).jpg" alt=""></a></li>
                        <li><a href="/Uploads/_thumbs/Images/HinhAnh/Canada/canada (10).jpg" class="image-link flickr"><img class="img-responsive" src="/Uploads/_thumbs/Images/HinhAnh/Dailoan/dailoan (8).jpg" alt=""></a></li>
                        <li><a href="#" class="image-link flickr"><img class="img-responsive" src="/Uploads/_thumbs/Images/HinhAnh/Duc/duc (18).jpg" alt=""></a></li>
                        <li><a href="#" class="image-link flickr"><img class="img-responsive" src="/Uploads/_thumbs/Images/HinhAnh/Duc/duc (4).jpg" alt=""></a></li>
                        <li><a href="#" class="image-link flickr"><img class="img-responsive" src="/Uploads/_thumbs/Images/HinhAnh/Hanquoc/hanquoc (1).jpg" alt=""></a></li>
                        <li><a href="#" class="image-link flickr"><img class="img-responsive" src="/Uploads/_thumbs/Images/HinhAnh/Hanquoc/hanquoc (2).jpg" alt=""></a></li>
                        <li><a href="#" class="image-link flickr"><img class="img-responsive" src="/Uploads/_thumbs/Images/HinhAnh/Nhatban/nhatban (11).jpg" alt=""></a></li>
                        <li><a href="#" class="image-link flickr"><img class="img-responsive" src="/Uploads/_thumbs/Images/HinhAnh/Nhatban/nhatban (2).jpg" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget news-letter">
                    <h1 class="section-title title">Weekly NewsLetter</h1>
                    <p>Nhận email về những thông tin mới nhất về du học, suất khẩu lao động.</p>

                    <form action="#" method="post" id="subscribe-form" name="subscribe-form">
                        <input type="text" placeholder="Email của bạn" name="email">
                        <button type="submit" name="subscribe" id="subscribe">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
@*</div>*@