<div class="footer-top">
    <div class="container text-center">
        <div class="logo-icon"><img class="img-responsive" src="~/Uploads/images/images/presets/preset1/logo-icon.png" alt="" /></div>
    </div>
</div>
<div class="footer-menu">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="/home/index">Home</a></li>
            <li><a href="/home/about">About</a></li>
            <li><a href="/home/service">Service</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">Advertisement</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</div>
<div class="bottom-widgets">
    <div class="container">
        <div class="col-sm-4">
            <div class="widget">
                <h2>Category</h2>
                <ul>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Japan">Du học Nhật Bản</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Korea">Du học Hàn Quốc</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Taiwan">Du học Đài Loan</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Germany">Du học Đức</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Canada">Du học Canada</a></li>
                </ul>
                <ul>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Job">Việc làm nước ngoài</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Visa">Visa quốc tế</a></li>
                    <li><a href="#">Tư vấn du học</a></li>
                    <li><a href="#">Tư vấn xuất khẩu lao động</a></li>
                    <li><a href="#">Tư vấn xin Visa</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="widget">
                <h2>Editions</h2>
                <ul>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Japan">Japan</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Korea">Korea</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Taiwan">Taiwan</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Canada">Canada</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Germany">Germany</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Visa">Visa</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="widget">
                <h2>Tag</h2>
                <ul>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Japan">Nhật Bản(Japan)</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Korea">Hàn Quốc(Korea)</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Taiwan">Đài Loan(Taiwan)</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Canada">Canada</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Germany">Đức(Germany)</a></li>
                </ul>
                <ul>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Job">Việc làm(Job)</a></li>
                    <li><a href="/home/group?group=@News_Manage.Common.MenuKeyWord.Visa">Visa</a></li>
                    <li><a href="#">Tư vấn du học</a></li>
                    <li><a href="#">Tư vấn suất khẩu lao động</a></li>
                    <li><a href="#">Tư vấn xin Visa</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="widget">
                <h2>Products</h2>
                <ul>
                    <li><a href="#">Du học nước ngoài</a></li>
                    <li><a href="#">Xuất khẩu lao động</a></li>
                    <li><a href="#">Xin Visa quốc tế</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container text-center">
        <p><a href="#">DreamComeTrue </a>&copy; 2018 </p>
    </div>
</div>